// анимация
@media (min-width: 479.98px) {
    @keyframes mainAnimation {
        0% {
            transform: translateY(200px);
        }
        50% {
            max-width: 412px;
            max-height: 120px;
            transform: translateY(0px);
        }
        100% {
            max-width: 412px;
            max-height: 429px;
            transform: translateY(0px);
        }
    }
    @keyframes mainAnimationGraph {
        0% {
            transform: translateY(200px);
        }
        50% {
            min-height: 120px;
            max-height: 120px;
            max-width: 1200px;
            transform: translateY(0px);
        }
        100% {
            max-width: 1200px;
            min-height: 508px;
            max-height: 700px;
            transform: translateY(0px);
        }
    }
    @keyframes mainAnimationConnect {
        0% {
            transform: translateY(200px);
        }
        50% {
            max-height: 120px;
            max-width: 700px;
            transform: translateY(0px);
        }
        100% {
            max-width: 700px;
            max-height: 400px;
            transform: translateY(0px);
        }
    }
// обратная анимация
    @keyframes backMainAnimation {
        0% {
            max-width: 412px;
            transform: translateY(0px);
        }
        50% {
            max-width: 255px;
            transform: translateY(0px);
        }
        100% {
            max-width: 120px;
            max-height: 120px;
            transform: translateY(200px);
        }
    }
    @keyframes backMainAnimationGraph {
        0% {
            max-width: 1200px;
            max-height: 500px;
            transform: translateY(0px);
        }
        50% {
            max-width: 1000px;
            max-height: 300px;
            transform: translateY(0px);
        }
        100% {
            max-width: 120px;
            max-height: 120px;
            transform: translateY(200px);
        }
    }
    @keyframes backMainAnimationConnect {
        0% {
            max-width: 700px;
            max-height: 400px;
            transform: translateY(0px);
        }
        50% {
            max-width: 500px;
            max-height: 300px;
            transform: translateY(0px);
        }
        100% {
            max-width: 120px;
            max-height: 120px;
            transform: translateY(200px);
        }
    }
}
// анимация на мобилке
@media (max-width: 479.98px) {
    @keyframes mainAnimation {
        0% {
            transform: translateY(200px);
        }
        50% {
            max-width: 330px;
            max-height: 210px;
            transform: translateY(0px);
        }
        100% {
            max-width: 330px;
            max-height: 325px;
            transform: translateY(0px);
        }
    }
    @keyframes mainAnimationGraph {
        0% {
            transform: translateY(200px);
        }
        50% {
            max-height: 210px;
            max-width: 90vw;
            transform: translateY(0px);
        }
        100% {
            max-width: 90vw;
            max-height: 80vh;
            transform: translateY(0px);
        }
    }
    @keyframes mainAnimationConnect {
        0% {
            transform: translateY(200px);
        }
        50% {
            max-height: 210px;
            max-width: 90vw;
            transform: translateY(0px);
        }
        100% {
            max-width: 90vw;
            max-height: 500px;
            transform: translateY(0px);
        }
    }
// обратная анимация на мобилке
    @keyframes backMainAnimation {
        0% {
            max-width: 330px;
            min-height: 210px;
            transform: translateY(0px);
        }
        50% {
            max-width: 210px;
            min-height: 180px;
        }
        100% {
            max-width: 210px;
            min-height: 120px;
            transform: translateY(200px);
        }
    }
    @keyframes backMainAnimationGraph {
        0% {
            max-width: 90vw;
            transform: translateY(0px);
        }
        50% {
            max-width: 210px;
        }
        100% {
            max-width: 210px;
            max-height: 120px;
            transform: translateY(200px);
        }
    }
    @keyframes backMainAnimationConnect {
        0% {
            max-width: 90vw;
            transform: translateY(0px);
        }
        50% {
            max-width: 210px;
        }
        100% {
            max-width: 210px;
            max-height: 120px;
            transform: translateY(200px);
        }
    }
}
// анимация враппера
@keyframes wrapperAnimation {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes contentAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes logoAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
