//========================================================================================================================================================
// шрифты
@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("./../assets/fonts/Ubuntu-Regular.woff2") format("woff2"),
    url("./../assets/fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("./../assets/fonts/Ubuntu-Medium.woff2") format("woff2"),
    url("./../assets/fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("./../assets/fonts/Ubuntu-Light.woff2") format("woff2"),
    url("./../assets/fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: AmpleSoftPro;
  font-display: swap;
  src: url("./../assets/fonts/AmpleSoftPro-Bold.woff2") format("woff2"),
    url("./../assets/fonts/AmpleSoftPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: AmpleSoftPro;
  font-display: swap;
  src: url("./../assets/fonts/AmpleSoftPro-Medium.woff2") format("woff2"),
    url("./../assets/fonts/AmpleSoftPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: AmpleSoftPro;
  font-display: swap;
  src: url("./../assets/fonts/AmpleSoftPro-Regular.woff2") format("woff2"),
    url("./../assets/fonts/AmpleSoftPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

//========================================================================================================================================================

$fontFamily: Ubuntu;
$fontSize: 14px;
// Основные цвета
$mainColor: #331a38; // Цвет шрифта по умолчанию

// Основной transition
$transition: 1.5s;

// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1240px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 2;
//========================================================================================================================================================
// Обнуляющие стили

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  // outline: none;
}
a:focus,
a:active {
  // outline: none;
}
html,
body {
  height: 100%;
  min-width: $minWidth;
  overflow-x: hidden;
}
body {
  color: $mainColor;
  line-height: 1;
  font-family: $fontFamily;
  font-size: $fontSize;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: $fontFamily;
  font-size: inherit;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}
a {
  color: inherit;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

//========================================================================================================================================================

@if ($responsiveType==1) {
  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: $maxWidthContainer;
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 $containerPadding / 2 + px;
    }
  }
} @else {
  // По брейк-поинтам
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: $maxWidthContainer;
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 $containerPadding / 2 + px;
      }
    }
    @media (max-width: $pc) {
      max-width: 970px;
    }
    @media (max-width: $tablet) {
      max-width: 750px;
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 $containerPadding / 2 + px;
      }
    }
  }
}

//========================================================================================================================================================
// Кастомные стили
.main {
  // .main__text
  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 163.6%;
    color: #000000;
  }
  // .main__link
  &__link {
    color: #3f7bdd !important;
    line-height: 26px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    // .main__link-underline
    &-underline {
      text-decoration: underline !important;
    }
  }
}
// Кастомные стили календаря
.dp {
  &__input_wrap {
    input {
      font-family: Ubuntu;
      width: 100%;
      height: 48px;
      padding: 12px 16px;
      background: #ffffff;
      border: 1px solid #d6d6d6;
      border-radius: 13px;
      outline: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #000034;
      &::placeholder {
        font-family: Ubuntu;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #000034;
      }
    }
    span {
      left: auto;
      right: 12px;
    }
  }
  &__clear_icon {
    right: 24px !important;
  }
}
// Кастомные стили графиков
#myChart {
  cursor: pointer;
}
// Кастомные стили для анимаций
.left {
  &--100 {
    &-before-enter {
      transform: translate(-100%, 0);
      opacity: 0;
    }
    &-enter {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  &-before-enter {
    transform: translate(-100px, 0);
    opacity: 0;
  }
  &-enter {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.right {
  &--100 {
    &-before-enter {
      transform: translate(100%, 0);
      opacity: 0;
    }
    &-enter {
      opacity: 1;
    }
  }
  &-before-enter {
    transform: translate(100px, 0);
    opacity: 0;
  }
  &-enter {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.top {
  &-before-enter {
    transform: translate(0, 100px);
  }
  &-enter {
    transform: translate(0, 0);
  }
}
.bottom {
  &-before-enter {
    transform: translate(0, -100px);
  }
  &-enter {
    transform: translate(0, 0);
  }
}
.transition {
  transition: transform $transition ease, opacity $transition ease;
}
.delay {
  transition-delay: .1s!important;
  &--md {
    transition-delay: .4s!important;
  }
  &--lg {
    transition-delay: .7s!important;
  }
}
.important {
  transition: transform $transition, opacity $transition, background .3s ease 0s!important;
  &--delay {
    transition: transform $transition ease .1s, opacity $transition ease .1s, background .3s ease 0s!important;
    &--md {
      transition: transform $transition ease .4s, opacity $transition ease .4s, background .3s ease 0s!important;
    }
    &--lg {
      transition: transform $transition ease .7s, opacity $transition ease .7s, background .3s ease 0s!important;
    }
  }
}
//========================================================================================================================================================
