//========================================================================================================================================================
// импорты шрифтов
@import "./fonts";

//========================================================================================================================================================
// импорты констант
@import "./consts";

//========================================================================================================================================================
// импорты кастомных стилей animation
@import "./animation/scrollAnimation";
@import "./animation/popupAnimation";
@import "./animation/preloader";

//========================================================================================================================================================
// импорты кастомных стилей blocks
@import "./blocks/wrap";
@import "./blocks/page";
@import "./blocks/legend";
@import "./blocks/swiper";

//========================================================================================================================================================
// импорты кастомных стилей templates
@import "./templates/display";
@import "./templates/text";
@import "./templates/decription";
@import "./templates/button";
@import "./templates/socials";
@import "./templates/contacts";
@import "./templates/quote";
@import "./templates/popup";
@import "./templates/line";
@import "./templates/datePicker";
@import "./templates/input";
@import "./templates/form";
@import "./templates/no-info";
@import "./templates/propeller";
@import "./templates/preloader";

//========================================================================================================================================================
// Обнуляющие стили

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    // outline: none;
}

a:focus,
a:active {
    // outline: none;
}

html,
body {
    height: 100%;
    min-width: $minWidth;
    overflow-x: hidden;
}

body {
    color: $mainColor;
    line-height: 1;
    font-family: $fontFamily;
    font-size: $fontSize;
    //text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: $fontFamily;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

//========================================================================================================================================================

@if ($responsiveType==1) {
    // Отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: $maxWidthContainer;
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            padding: 0 $containerPadding / 2 + px;
        }
    }
} @else {
    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: $maxWidthContainer;
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0) {
                padding: 0 calc($containerPadding / 2) + px;
            }
        }
        @media (max-width: $pc) {
            max-width: 970px;
        }
        @media (max-width: $tablet) {
            max-width: 750px;
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 calc($containerPadding / 2) + px;
            }
        }
        //@media (max-width: $mobileSmall) {
        //    @if ($containerPadding>0 and $maxWidthContainer>0) {
        //        padding: 0 calc($containerPadding / 2) + 5 + px;
        //    }
        //}
    }
}

//========================================================================================================================================================
.invisible {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
}

// Профиль
.profile {
    @media (min-width: 1271px) {
        padding-left: 310px;
    }
    width: 100%;
}

// Кастомные стили
.main {
    // .main__text
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height: 163.6%;
        color: #000000;
    }

    // .main__subtitle
    &__subtitle {
        color: #000034;
        font-family: AmpleSoftPro, serif;
        font-weight: 700;
        @media (max-width: $mobile) {
            font-size: 24px;
            line-height: 30px;
        }
    }

    // .main__nickname
    &__nickname {
        font-family: AmpleSoftPro, serif;
        font-weight: 700;
        color: #000034;
        font-size: 24px;
        line-height: 30px;
        @media (max-width: $mobile) {
            font-size: 20px;
            line-height: 26px;
        }
    }

    // .main__number
    &__number {
        font-weight: 500;
        color: #000034;
        font-size: 18px;
        line-height: 26px;
        @media (max-width: $mobile) {
            font-size: 16px;
            line-height: 18px;
        }

        .unit {
            color: #969797;
        }
        .row {
            width: 100%;
            display: flex;
            gap: 8px;
            align-items: center;
            font-size: 16px;
            line-height: 23px;
            color: rgba(0, 0, 0, 0.62);
            font-weight: 400;
            span {
                padding: 0 !important;
            }
        }

        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: rgba(0, 0, 0, 0.62);
            @media (max-width: 479.98px) {
                color: #000034;
            }
        }

        &-lg {
            color: rgba(#000034, 0.62);
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 40px;

            span {
                font-weight: 700;
                color: #000034;
            }

            @media (max-width: 991.98px) {
                font-size: 21px;
                line-height: 30px;
                color: #000034;
            }
        }
    }

    // .main__name
    &__name {
        font-weight: 400;
        color: #818c99;
        font-size: 16px;
        line-height: 23px;
        @media (max-width: $mobile) {
            line-height: 18px;
        }
    }

    // .main__label
    &__label {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: rgba(0, 0, 0, 0.62);
        @media (max-width: 479.98px) {
            font-size: 14px;
            line-height: 16px;
        }

        &-select {
            color: #000034;
        }

        &-check {
            font-size: 16px;
            line-height: 23px;
            color: #3f7bbd;
            position: relative;
            width: 100%;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            @media (max-width: 479.98px) {
                font-size: 14px;
                line-height: 16px;
            }

            &.checked {
                &:before {
                    background-color: #3f7bdd;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:before {
                content: "";
                width: 24px;
                height: 24px;
                background: rgba(194, 213, 242, 0.61);
                border-radius: 8px;
                margin-right: 8px;
                transition: all 0.3s ease 0s;
                @media (max-width: 767.98px) {
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                }
            }

            &:after {
                content: url("../assets/img/Check.svg");
                position: absolute;
                top: 50%;
                left: 4px;
                transform: translate(0, -50%);
                width: 16px;
                height: 16px;
                opacity: 0;
                transition: all 0.3s ease;
                @media (max-width: 767.98px) {
                    left: 2px;
                }
            }
        }
    }

    // .main_select
    &_select {
        color: #000034;
        font-weight: 500;
        font-size: 18px;
        line-height: 181.1%;
        @media (max-width: $mobileSmall) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    // .main__link
    &__link {
        color: #3f7bdd !important;
        line-height: 26px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        // .main__link-underline
        &-underline {
            text-decoration: underline !important;
            transition: all 0.3s ease 0s;

            &:hover {
                text-decoration: none !important;
            }
        }

        @media (max-width: $mobile) {
            font-size: 16px;
            line-height: 22px;
        }
    }
}

.menu {
    &_elem {
        svg {
            width: 24px;
            height: 24px;
            stroke: transparent !important;
        }
        svg:not(.stroke) {
            fill: #417fe5 !important;
        }
        svg.stroke {
            stroke: #417fe5 !important;
        }
        .icon,
        svg {
            width: 24px;
            height: 24px;
        }
    }
}

.indicators {
    .swiper {
        overflow-y: visible;
        &-pagination {
            &-bullet {
                position: relative;
                width: 21px;
                height: 21px;
                overflow: hidden;
                opacity: 1;
                background: transparent;
                border-radius: 3px;
                &.swiper-pagination-bullet-active {
                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:before {
                    border: 5px solid rgba(63, 123, 222, 0.16);
                }
                &:after {
                    border: 8px solid #3f7bde;
                    transition: all 0.3s ease 0s;
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
    .wrap {
        height: fit-content;
        @media (max-width: 991.98px) {
            padding: 17px;
            transition: all 0.8s ease 0s;
        }

        &__block {
            gap: 16px;
            @media (min-width: 991.98px) {
                display: flex !important;
            }
            justify-content: center;
            min-height: 232px;
            transition: all 0.8s ease 0s;
        }
        &__row {
            min-height: 263px;
            @media (max-width: 991.98px) {
                min-height: 232px;
                flex-direction: column;
                gap: 17px;
                transition: all 0.8s ease 0s;
                overflow: hidden;
                .wrap {
                    &__block {
                        @media (max-width: $mobileSmall) {
                            padding: 10px;
                        }
                        h3 {
                            margin-bottom: 0;
                            &:after {
                                content: none;
                            }
                        }
                        &-blue {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            z-index: 10;
                        }
                    }
                    &__menu {
                        transition: all 0.8s ease 0s, visibility 0s ease 0.8s,
                            opacity 0s ease 0.8s;
                        visibility: hidden;
                        opacity: 0;
                        margin-top: 0;
                        overflow-y: hidden;
                        justify-content: flex-start;
                        @media (max-width: $mobile) {
                            max-height: 232px;
                        }

                        &.opened {
                            margin-top: 249px;
                            visibility: visible;
                            opacity: 1;
                            transition: all 0.8s ease 0s, visibility 0s ease 0s,
                                opacity 0s ease 0s, max-height 1.6s ease 0s;
                            @media (max-width: $mobile) {
                                max-height: 500px;
                            }
                        }
                    }
                }
            }
        }
    }
    .open-button {
        width: 107px;
        display: flex;
        gap: 10px;
        padding-bottom: 8px;
        color: #ffffff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.62);
        cursor: pointer;
        @media (min-width: 991.98px) {
            display: none;
        }
    }
}

// Кастомные стили (адаптация)
@media (max-width: $pc) {
    .account {
        &__container {
            padding-top: 60px;
            position: relative;
            flex-direction: column;
        }
    }
}

@media (max-width: $tablet) {
    .account {
        &__container {
            padding-top: 46px;
        }
    }
}
@media (max-width: $mobile) {
    .account {
        &__container {
            padding-top: 18px;
        }
    }
}

// Основной класс в blue-button
.all-link {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding: 2px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease 0s;
    position: relative;
    min-height: 24px;
    background: transparent;
    gap: 10px;
    svg {
        max-width: 0;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease 0s;
    }
}

// Кастомные стили графиков
.graph {
    &.no-title {
        min-height: 100%;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .graph {
            &__main {
                padding: 0px;
                min-height: 100%;
                min-width: 100%;
            }
            &__head {
                display: none;
                //justify-content: flex-end;
            }
            &__item {
                padding: 0;
            }
        }
        //.title {
        //    display: none;
        //}
    }
    &.paddings {
        min-height: auto;
        .graph {
            &__item {
                padding: 28px 36px 33px;
            }
        }
    }
}
#myChart {
    cursor: pointer;
}

// Временный блок ререндера
.hidden {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

//========================================================================================================================================================
