@font-face {
    font-family: Ubuntu;
    font-display: swap;
    src: url("../js/assets/fonts/Ubuntu-Regular.woff2") format("woff2"), url("../js/assets/fonts/Ubuntu-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Ubuntu;
    font-display: swap;
    src: url("../js/assets/fonts/Ubuntu-Medium.woff2") format("woff2"), url("../js/assets/fonts/Ubuntu-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Ubuntu;
    font-display: swap;
    src: url("../js/assets/fonts/Ubuntu-Light.woff2") format("woff2"), url("../js/assets/fonts/Ubuntu-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: AmpleSoftPro;
    font-display: swap;
    src: url("../js/assets/fonts/AmpleSoftPro-Bold.woff2") format("woff2"), url("../js/assets/fonts/AmpleSoftPro-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: AmpleSoftPro;
    font-display: swap;
    src: url("../js/assets/fonts/AmpleSoftPro-Medium.woff2") format("woff2"), url("../js/assets/fonts/AmpleSoftPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: AmpleSoftPro;
    font-display: swap;
    src: url("../js/assets/fonts/AmpleSoftPro-Regular.woff2") format("woff2"), url("../js/assets/fonts/AmpleSoftPro-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    min-width: 320px;
    overflow-x: hidden;
}
body {
    color: #331a38;
    line-height: 1;
    font-family: Ubuntu;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input, button, textarea {
    font-family: Ubuntu;
    font-size: inherit;
}
button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}
a {
    color: inherit;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
[class*="__container"] {
    margin: 0 auto;
    max-width: 1240px;
    box-sizing: content-box;
}
@media (max-width: 1270px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        padding: 0 15px;
    }
}
@media (max-width: 479.98px) {
    [class*="__container"] {
        padding: 0 20px;
    }
}
.legend {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
}
@media (max-width: 767.98px) {
    .legend-block .statistic__legend_elem-all {
        font-size: 16px;
        line-height: 23px;
        color: #000034;
    }
}
@media (max-width: 991.98px) {
    .legend {
        gap: 20px;
    }
}
@media (max-width: 767.98px) {
    .legend {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        height: 28px;
        gap: 8px;
    }
}
.legend_elem {
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.62);
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    gap: 16px;
}
@media (max-width: 767.98px) {
    .legend_elem {
        color: #fff;
        position: relative;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        justify-content: center;
        font-weight: 500;
        font-size: 14px;
    }
}
@media (max-width: 767.98px) {
    .legend_elem:last-child {
        font-weight: 400;
        margin-left: calc(20px - 8px);
        width: auto;
    }
}
.legend_elem::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
@media (max-width: 767.98px) {
    .legend_elem::before {
        content: none;
    }
}
@media (max-width: 767.98px) {
    .legend_elem-active {
        background-color: #13d60e;
    }
}
.legend_elem-active::before {
    background-color: #13d60e;
}
@media (max-width: 767.98px) {
    .legend_elem-unstable {
        background-color: #e9c058;
    }
}
.legend_elem-unstable::before {
    background-color: #e9c058;
}
@media (max-width: 767.98px) {
    .legend_elem-unactive {
        background-color: #ff0000;
    }
}
.legend_elem-unactive::before {
    background-color: #ff0000;
}
@media (max-width: 767.98px) {
    .legend_elem-all {
        color: #818c99;
        white-space: nowrap;
    }
}
.legend_elem-all::before {
    content: none;
}
.wrap {
    width: 100%;
    padding: 24px 16px;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 21px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}
@media (max-width: 767.98px) {
    .wrap-no-padding {
        padding: 20px 0 20px 0 !important;
    }
    .wrap-no-padding .wrap_head {
        padding: 0 20px;
        margin-bottom: 0;
    }
    .wrap-no-padding .main__link {
        padding: 0 20px;
        margin-top: 10px;
    }
}
.wrap-overflow {
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}
@media (max-width: 767.98px) {
    .wrap-overflow {
        overflow-x: scroll;
        padding: 0 20px 20px;
    }
}
.wrap-overflow-scrollY {
    overflow-y: scroll;
    max-height: 50vh;
}
@media (max-width: 1270px) {
    .wrap {
        padding: 20px;
    }
}
@media (max-width: 767.98px) {
    .wrap {
        margin: 0 -15px 20px;
        width: calc(100% + 30px);
    }
}
@media (max-width: 479.98px) {
    .wrap {
        margin: 0 -20px 20px;
        width: calc(100% + 40px);
    }
}
.wrap:last-child {
    margin-bottom: 0;
}
.wrap_title {
    margin-bottom: 12px;
    width: 100%;
}
.wrap_head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    align-items: flex-start;
    position: relative;
}
.wrap_head_elem {
    height: 28px;
    color: #818C99;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10px;
}
@media (max-width: 767.98px) {
    .wrap_head .title {
        width: 100%;
    }
}
.wrap_head-usability {
    max-width: 60px;
    width: 100%;
    gap: 16px;
    padding: 3px;
    display: flex;
    position: absolute;
    right: 20px;
    top: 3px;
    box-sizing: border-box;
}
.wrap_head-usability_elem {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 19px;
    height: 19px;
    gap: 1px;
    box-sizing: border-box;
}
.wrap_head-usability_elem:first-child {
    grid-template-columns: repeat(2, 1fr);
}
.wrap_head-usability_elem span {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-sizing: border-box;
    border: 2px solid #818C99;
    transition: all 0.3s ease 0s;
}
.wrap_head-usability_elem.active span {
    border: 2px solid #4182EC;
}
.main__text {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 163.6%;
    color: #000000;
}
.main__subtitle {
    color: #000034;
    font-family: AmpleSoftPro, serif;
    font-weight: 700;
}
@media (max-width: 767.98px) {
    .main__subtitle {
        font-size: 24px;
        line-height: 30px;
    }
}
@media (max-width: 320.98px) {
    .main__subtitle {
        font-size: 21px;
        line-height: 26px;
    }
}
.main__nickname {
    font-family: AmpleSoftPro, serif;
    font-weight: 700;
    color: #000034;
    font-size: 24px;
    line-height: 30px;
}
@media (max-width: 767.98px) {
    .main__nickname {
        font-size: 20px;
        line-height: 26px;
    }
}
@media (max-width: 320.98px) {
    .main__nickname {
        font-size: 16px;
        line-height: 26px;
    }
}
.main__number {
    font-weight: 500 !important;
    color: #000034 !important;
    font-size: 18px !important;
    line-height: 26px !important;
}
@media (max-width: 767.98px) {
    .main__number {
        font-size: 16px !important;
        line-height: 18px !important;
    }
}
@media (max-width: 320.98px) {
    .main__number {
        font-size: 12px !important;
        line-height: 14px !important;
    }
}
.main__number span {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #0000009E;
}
@media (max-width: 479.98px) {
    .main__number span {
        color: #000034;
        font-weight: 500;
    }
}
@media (max-width: 320.98px) {
    .main__number span {
        font-size: 12px;
        line-height: 17px;
    }
}
.main__name {
    font-weight: 400;
    color: #818C99;
    font-size: 16px;
    line-height: 23px;
}
@media (max-width: 767.98px) {
    .main__name {
        line-height: 18px;
    }
}
@media (max-width: 320.98px) {
    .main__name {
        font-size: 12px;
        line-height: 14px;
    }
}
.main__label {
    color: #000034;
    font-weight: 400;
}
@media (max-width: 479.98px) {
    .main__label {
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 320.98px) {
    .main__label {
        font-size: 12px;
        line-height: 14px;
    }
}
.main_select {
    color: #000034;
    font-weight: 500;
    font-size: 18px;
    line-height: 181.1%;
}
@media (max-width: 767.98px) {
    .main_select {
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 320.98px) {
    .main_select {
        font-size: 12px;
        line-height: 14px;
    }
}
.main__link {
    color: #3f7bdd !important;
    line-height: 26px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.main__link-underline {
    text-decoration: underline !important;
    transition: all 0.3s ease 0s;
}
.main__link-underline:hover {
    text-decoration: none !important;
}
@media (max-width: 767.98px) {
    .main__link {
        font-size: 16px;
        line-height: 22px;
    }
}
@media (max-width: 320.98px) {
    .main__link {
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width: 1270px) {
    .account__container {
        padding-top: 72px;
        position: relative;
        flex-direction: column;
    }
}
@media (max-width: 991.98px) {
    .account__container {
        padding-top: 60px;
    }
}
@media (max-width: 767.98px) {
    .dp__clear_icon {
        top: -50% !important;
        right: calc(-1rem + 5px) !important;
    }
}
@media (max-width: 479.98px) {
    .dp__clear_icon {
        right: calc(-1rem + 2px) !important;
    }
}
.dp__input_wrap input {
    font-family: Ubuntu, serif;
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    background: #ffffff;
    border: 1px solid #d6d6d6;
    border-radius: 12px;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #000034;
    caret-color: #000034;
}
@media (max-width: 767.98px) {
    .dp__input_wrap input {
        height: 28px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 16px;
        border-radius: 8px;
    }
}
@media (max-width: 320.98px) {
    .dp__input_wrap input {
        font-size: 12px;
        line-height: 14px;
    }
}
.dp__input_wrap input::placeholder {
    font-family: Ubuntu, serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #000034;
    opacity: 1;
}
@media (max-width: 767.98px) {
    .dp__input_wrap input::placeholder {
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 320.98px) {
    .dp__input_wrap input::placeholder {
        font-size: 12px;
        line-height: 14px;
    }
}
.dp__input_wrap span {
    left: auto;
    right: 12px;
}
@media (max-width: 479.98px) {
    .dp__input_wrap span svg {
        width: 16px !important;
        height: 16px !important;
    }
}
#myChart {
    cursor: pointer;
}
body::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.lock body::after {
    opacity: 1;
}
.lock .popup__content {
    animation: backMainAnimation forwards 0.3s ease 0s !important;
}
.popup {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px 10px;
    transition: visibility 0.5s ease 0s;
    visibility: hidden;
    pointer-events: none;
}
.popup-show body::after {
    opacity: 1 !important;
}
.assd {
    z-index: 10;
}

.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    opacity: 1;
    transform: translateY(200px);
    animation: mainAnimation forwards 0.8s ease 0.5s !important;
}
.popup_show .popup__content_logo {
    animation: logoAnimation forwards 0.5s ease 0.5s;
    opacity: 1;
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
}
.popup__content {
    cursor: default;
    visibility: hidden;
    background-color: #fff;
    padding: 40px;
    min-width: 250px;
    min-height: 120px;
    max-height: 120px;
    max-width: 250px;
    width: 100%;
    border-radius: 21px;
    position: relative;
    opacity: 0;
    transform: translateY(100vh);
    transition: all 0.5s ease 0s;
}
@keyframes mainAnimation {
    0% {
        transform: translateY(200px);
    }
    50% {
        max-width: 250px;
        max-height: 420px;
        transform: translateY(0px);
    }
    100% {
        max-width: 380px;
        max-height: 420px;
        transform: translateY(0px);
    }
}
@keyframes backMainAnimation {
    0% {
        max-width: 380px;
        transform: translateY(0px);
    }
    50% {
        max-width: 250px;
        transform: translateY(0px);
    }
    100% {
        max-width: 120px;
        max-height: 120px;
        transform: translateY(200px);
    }
}
@media (max-width: 479.98px) {
    @keyframes mainAnimation {
        0% {
            transform: translateY(200px);
        }
        50% {
            max-width: 250px;
            max-height: 325px;
            transform: translateY(0px);
        }
        100% {
            max-width: 330px;
            max-height: 325px;
            transform: translateY(0px);
        }
    }
}
@media (max-width: 479.98px) {
    @keyframes backMainAnimation {
        100% {
            max-width: 330px;
            transform: translateY(0px);
        }
        50% {
            max-width: 250px;
            transform: translateY(0px);
        }
        0% {
            max-width: 120px;
            max-height: 120px;
            transform: translateY(200px);
        }
    }
}
.popup__content_logo {
    max-width: 170px;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    margin: auto;
    transition: all 0.8s ease 0s;
}
@keyframes logoAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.popup__content.opened .popup__content_block {
    animation: wrapperAnimation forwards 0.4s ease 0.5s;
    width: 100%;
}
.popup__content.opened .popup__content_block button {
    animation: opacity forwards 0.4s ease 0.5s;
}
.popup__content.opened .popup__content_block form, .popup__content.opened .popup__content_block div, .popup__content.opened .popup__content_block span, .popup__content.opened .popup__content_block a, .popup__content.opened .popup__content_block h3 {
    animation: contentAnimation forwards 0.3s ease 0.5s;
}
.popup__content_block {
    overflow: hidden;
    transition: all 0.8s ease 0s;
}
@keyframes wrapperAnimation {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
@keyframes contentAnimation {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.popup__content_block button {
    opacity: 0;
    transition: all 0.5s ease 1.5s;
}
.popup__content_block form, .popup__content_block div, .popup__content_block span, .popup__content_block a, .popup__content_block h3 {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    white-space: nowrap;
}
@media (max-width: 479.98px) {
    .popup__content {
        padding: 20px;
        min-width: 210px;
        max-width: 210px;
        min-height: 100px;
        max-height: 100px;
    }
}
.lock .popup__content {
    visibility: visible;
}
.popup__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 40px;
    right: 40px;
    fill: #000;
    outline: none;
}
@media (max-width: 479.98px) {
    .popup__close {
        top: 20px;
        right: 20px;
    }
}
.popup .title {
    color: #000;
    margin-bottom: 24px;
}
@media (max-width: 767.98px) {
    .popup .title {
        margin-bottom: 20px !important;
    }
    .popup .title:after {
        content: none;
    }
}
.popup__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
@media (max-width: 479.98px) {
    .popup__form {
        gap: 20px;
    }
}
.popup__input {
    width: 100%;
    padding: 11px 22px;
    background: #E9EDF3;
    border-radius: 21px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000034;
}
@media (max-width: 479.98px) {
    .popup__input {
        padding: 10px 22px;
        font-size: 14px;
        line-height: 20px;
    }
}
.popup__input::placeholder {
    color: rgba(0, 0, 0, 0.62);
}
.popup__buttons {
    width: 100%;
    display: flex;
    gap: 14px;
}
@media (max-width: 479.98px) {
    .popup__buttons {
        gap: 10px;
    }
}
.popup__button {
    width: 100%;
}
.popup__text {
    font-size: 18px;
    line-height: 26px;
    color: #595A5C;
}
.popup__text .main__link {
    color: #4182ec;
    transition: all 0.3s ease 0s;
}
.popup__text .main__link:hover {
    text-decoration: underline;
}
.popup .blue-button {
    width: 100% !important;
    border-radius: 12px !important;
}
@media (max-width: 479.98px) {
    .popup .blue-button {
        height: 40px;
    }
    .popup .blue-button .all-link {
        font-size: 14px;
        line-height: 20px;
    }
}
.popup .blue-button:before {
    border-radius: 12px !important;
}
.popup .blue-button.back {
    background: #C2D5F2 !important;
}
.popup .blue-button.back .all-link {
    border-radius: 12px !important;
}
.popup .blue-button.back:before {
    content: none;
}
.popup .blue-button.back:hover {
    transform: none;
}
.popup .blue-button.back:active {
    background: #4182EC !important;
    transform: translate(-4px, -4px);
}
.popup .blue-button.back:active:before {
    content: "";
    top: 4px;
    left: 4px;
}
.left--100-before-enter {
    transform: translate(-100%, 0);
    opacity: 0;
}
.left--100-enter {
    transform: translate(0, 0);
    opacity: 1;
}
.left-before-enter {
    transform: translate(-100px, 0);
    opacity: 0;
}
.left-enter {
    transform: translate(0, 0);
    opacity: 1;
}
.right--100-before-enter {
    transform: translate(100%, 0);
    opacity: 0;
}
.right--100-enter {
    opacity: 1;
}
.right-before-enter {
    transform: translate(100px, 0);
    opacity: 0;
}
.right-enter {
    transform: translate(0, 0);
    opacity: 1;
}
.top-before-enter {
    transform: translate(0, 100px);
}
.top-enter {
    transform: translate(0, 0);
}
.bottom-before-enter {
    transform: translate(0, -100px);
}
.bottom-enter {
    transform: translate(0, 0);
}
.transition {
    transition: transform 1.5s ease, opacity 1.5s ease;
}
.transition--fast {
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.delay {
    transition-delay: 0.1s !important;
}
.delay--md {
    transition-delay: 0.4s !important;
}
.delay--lg {
    transition-delay: 0.7s !important;
}
.important {
    transition: transform 1.5s, opacity 1.5s, background 0.3s ease 0s !important;
}
.important--delay {
    transition: transform 1.5s ease 0.1s, opacity 1.5s ease 0.1s, background 0.3s ease 0s !important;
}
.important--delay--md {
    transition: transform 1.5s ease 0.4s, opacity 1.5s ease 0.4s, background 0.3s ease 0s !important;
}
.important--delay--lg {
    transition: transform 1.5s ease 0.7s, opacity 1.5s ease 0.7s, background 0.3s ease 0s !important;
}
