.button {
    &_propeller {
        width: 51px;
        height: 51px;
        background: #366dc8;
        box-shadow: 0px 0px 35px rgba(255, 255, 255, 0.04),
        inset 0px 11px 6px rgba(0, 0, 0, 0.08);
        border-radius: 50%;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 36px;
            height: 36px;
            background-image: url("/resources/assets/img/propeller.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation-name: ventilation;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes ventilation {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(-720deg);
            }
        }
        @media (max-width: 1270px) {
            width: 45px;
            height: 45px;
            &::before {
                width: 30px;
                height: 30px;
            }
        }
        @media (max-width: 767.98px) {
            width: 39px;
            height: 39px;
            &::before {
                width: 26px;
                height: 26px;
            }
        }
    }
}
