// Кастомные стили календаря
.dp {
  &__clear_icon {
    @media (max-width: 767.98px) {
      top: -50% !important;
      right: calc(-1rem + 5px) !important;
    }
    @media (max-width: 479.98px) {
      right: calc(-1rem + 2px) !important;
    }
  }
  &__input {
    &_icon {
      left: auto;
      right: 12px;
      @media (max-width: $mobileSmall) {
        svg {
          width: 16px !important;
          height: 16px !important;
        }
      }
    }
    &_wrap {
      input {
        font-family: Ubuntu, serif;
        width: 100%;
        height: 48px;
        padding: 12px 16px;
        background: #ffffff;
        border: 1px solid #d6d6d6;
        border-radius: 12px;
        outline: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #000034;
        caret-color: #000034;
        transition: all 0.3s ease 0s;
        @media (max-width: $mobile) {
          padding: 5px 10px;
        }
        @media (max-width: $mobileSmall) {
          height: 34px;
          font-size: 14px;
          line-height: 16px;
        }
        &::placeholder {
          font-family: Ubuntu, serif;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          color: #000034;
          opacity: 1;
          @media (max-width: $mobileSmall) {
            font-size: 12px;
            line-height: 14px;
          }
        }
        &:hover {
          border: 1px solid #C2D5F2;
        }
        &:active,
        &:focus {
          border: 1px solid #4182EC;
        }
      }
      span {
        left: auto;
        right: 12px;
        @media (max-width: $mobileSmall) {
          svg {
            width: 16px !important;
            height: 16px !important;
          }
        }
      }
    }
  }
}
