.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: var(--svg-fill);
    border-radius: 8px;
    outline: none;

    &:hover {
        fill: var(--svg-fill-hover);
    }

    &-light {
        background: #C6D8F5;
    }
    &-blue {
        background: #5389E1;
    }
}
