.input {
    width: 100%;
    padding: 0 22px;
    background: #e9edf3;
    border-radius: 21px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000034;
    border: 1px solid;
    border-color: #d6d6d6;
    outline: none;
    display: inline-flex;
    align-items: center;
    transition: border-color 0.3s ease 0s;
    min-height: 48px;
    &::placeholder {
        color: rgba(0, 0, 0, 0.62);
    }
    &-no-bg {
        @media (min-width: 767.98px) {
            border-radius: 0;
            border: 1px solid transparent !important;
            background-color: transparent;
            padding: 0;
            height: 34px;
            min-height: 34px;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            color: #000034;
            &:not([disabled]) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.17) !important;
                &:hover {
                    border-bottom: 1px solid #c2d5f2 !important;
                }
                &:active,
                &:focus {
                    border-bottom: 1px solid #4182ec !important;
                }
            }
        }
    }
    @media (max-width: $mobileSmall) {
        background-color: #fff;
        padding: 0 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        min-height: 34px;
        border-radius: 12px;
    }
    &-popup {
        border-color: transparent;
        @media (max-width: 767.98px) {
            padding: 0 22px;
            background: #e9edf3;
            border-radius: 21px;
            font-size: 14px;
            line-height: 20px;
            min-height: 48px;
        }
    }
    &:hover {
        border-color: #c2d5f2;
    }
    &:active,
    &:focus {
        border-color: #4182ec;
    }
}
