.input {
    width: 100%;
    padding: 0 12px;
    border-radius: 8px;
    color: #7C7C7C;
    background: #EDEDED;
    font-weight: 300;
    font-size: 14px;
    line-height: 115%;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    min-height: 48px;
    &::placeholder {
        color: #7C7C7C;
    }
    &-lg {
        min-height: 64px;
        padding: 0 40px;
        box-shadow: 0 4px 10px rgba(85, 85, 85, 0.1);
        border-radius: 12px;
        font-weight: 300;
        font-size: 20px;
        line-height: 140%;
        @media (max-width: 767.98px) {
            padding:  0 24px;
        }
        @media (max-width: 479.98px) {
            border-radius: 8px;
            padding:  0 8px;
            min-height: 40px;
            font-size: 14px;
        }
    }
    &-md {
        min-height: 61px;
        padding: 0 32px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        @media (max-width: $mobileSmall) {
            min-height: 61px;
        }
    }
    &-white {
        background: #ffffff;
    }
    &-popup {
        border-color: transparent;
        @media (max-width: 767.98px) {
            padding: 0 22px;
            background: #e9edf3;
            border-radius: 21px;
            font-size: 16px;
            line-height: 20px;
            min-height: 48px;
        }
    }
    &-strong {
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        min-height: 60px;
        padding: 2px 30px;
        color: rgba(0, 0, 0, 0.72);
        background: #ffffff;
        @media (max-width: $mobile) {
            padding: 2px 12px;
        }
        &::placeholder {
            color: rgba(0, 0, 0, 0.42);
        }
    }
    &:disabled {
        color: #C5C5C5;
    }
}
