.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    &-blue {
        color: #4181EA;
    }
    &-white {
        color: #fff;
    }
}
