.no-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 21px;
    width: 100%;
    background: #fafafa;
    transition: all 1.5s ease 0s;
    span {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        color: #4066b5;
    }
}
