.no-info {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    padding: 52px 0 46px;
    border-radius: 21px;
    width: 100%;
    background: #fafafa;
    transition: all 1.5s ease 0s;
    img {
        max-width: 118px;
    }
    span {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #000034;
    }
}
