// Кастомные стили popup
body::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.lock {
    overflow: hidden;
    body::after {
        opacity: 1;
    }
    .popup {
        .popup {
            &__content {
                animation-name: backMainAnimation;
                animation-duration: 0.3s;
                animation-fill-mode: forwards;
                animation-timing-function: ease;
                &-graph {
                    animation-name: backMainAnimationGraph;
                }
            }
        }
        &-card {
            .popup__content {
                animation-name: backMainAnimationCard;
            }
        }
        &-changes {
            .popup__content {
                animation-name: backChangeAnimation;
            }
        }
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes reRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.popup {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px 10px;
    transition: visibility 0.5s ease 0s;
    visibility: hidden;
    pointer-events: none;
    @media (max-width: $pc) {
        padding: 25px;
    }
    @media (max-width: $mobile) {
        padding: 15px;
    }
    &-show {
        &::after {
            opacity: 1 !important;
        }
    }
    .loading {
        form,
        .swiper {
            .blue-button {
                background: rgba(#4282ec, 0.8) !important;
                .all-link {
                    svg {
                        max-width: 100%;
                        max-height: 100%;
                        overflow: visible;
                        visibility: visible;
                        opacity: 1;
                        path {
                            transform-origin: center;
                            fill: #ffffff;
                            &:first-child {
                                animation: rotate 2s linear 0s infinite;
                            }
                            &:nth-child(2) {
                                animation: reRotate 2s linear 0s infinite;
                            }
                            &:last-child {
                                animation: rotate 2s linear 0s infinite;
                            }
                        }
                    }
                }
            }
        }
    }
    &_show {
        z-index: 150;
        visibility: visible;
        overflow: auto;
        pointer-events: auto;
        &.popup {
            .popup {
                &__content {
                    visibility: visible;
                    animation-name: mainAnimation;
                    animation-duration: 1.5s;
                    animation-delay: 0.5s;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease;
                    &-graph {
                        animation-name: mainAnimationGraph;
                    }
                    &_logo {
                        animation: fadeOut forwards 0.5s ease 0.5s;
                    }
                }
            }
            &-changes {
                .popup__content {
                    animation-name: mainAnimationChange;
                    animation-duration: 1.5s;
                }
            }
            &-card {
                .popup__content {
                    animation-name: mainAnimationCard;
                }
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
        flex: 1 1 auto;
        width: 100%;
        justify-content: center;
    }
    &__head {
        margin-bottom: 24px;
        display: flex;
        @media (max-width: 479.98px) {
            margin-bottom: 10px;
            margin-top: 32px;
        }
    }
    &_status {
        margin-left: 24px;
        @media (max-width: 479.98px) {
            margin-left: auto;
        }
    }
    &__main {
        display: flex;
        gap: 24px;
        @media (max-width: 991.98px) {
            flex-direction: column;
        }
    }
    &__info {
        display: flex;
        gap: 8px;
        @media (min-width: 991.98px) {
            flex-direction: column;
        }
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: 10px;
        }
        &_block {
            display: flex;
            gap: 8px;
            width: 100%;
            justify-content: space-between;
            @media (min-width: 991.98px) {
                padding: 16px;
                min-width: 175px;
                box-shadow: 0 2px 6px 0 rgba(35, 38, 63, 0.1);
            }
            @media (min-width: $mobile) {
                min-height: 82px;
                flex-direction: column;
                padding: 16px 12px;
                border-radius: 16px;
                background: #fff;
                box-shadow: 0 2px 6px 0 rgba(35, 38, 63, 0.1);
            }
        }
    }
    &__content {
        cursor: default;
        visibility: hidden;
        background: #fafafa;
        box-shadow: 0 10px 10px rgba(16, 16, 16, 0.12);
        padding: 0 32px;
        max-height: 120px;
        max-width: 255px;
        width: 100%;
        border-radius: 16px;
        position: relative;
        transform: translateY(200px);
        overflow: hidden;
        @media (max-width: $tablet) {
            padding: 0 24px;
        }
        @media (max-width: $mobile) {
            padding: 0 16px;
        }
        @media (max-width: $mobileSmall) {
            max-height: 120px;
            max-width: 210px;
        }
        &-graph {
            @media (min-width: $mobile) {
                border-radius: 24px;
            }
        }
        &_logo {
            max-width: 170px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .graph {
            width: 100%;
            &__main {
                .container-chart {
                    margin-bottom: 25px;
                    @media (max-width: $mobile) {
                        margin-bottom: 33px;
                        overflow: visible;
                        margin-top: 33px;
                    }
                    @media (max-width: 479.98px) {
                        margin-bottom: 35px;
                    }
                }
                .y-axis-container {
                    bottom: 32px;
                }
            }
        }
        &.opened {
            .form {
                &_message {
                    animation: fadeIn forwards 0.3s ease 0s;
                }
            }
            .popup__content {
                &_block {
                    width: 100%;
                    transition: opacity 1s ease 1s;
                    opacity: 1;
                    .popup__close {
                        opacity: 1;
                        transition: opacity 0.3s ease 0.5s;
                    }
                }
            }
        }
        &_block {
            overflow: hidden;
            padding: 32px 0;
            opacity: 0;
            transition: opacity 0.3s ease 0s;
            @media (max-width: $pc) {
                padding: 24px 0;
            }
            @media (max-width: $mobile) {
                padding: 16px 0;
            }
            .form {
                padding-left: 5px;
                .form {
                    padding-left: 0;
                }
                .title {
                    max-width: calc(100% - 30px);
                }
            }
        }
    }
    &__close {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 32px;
        right: 32px;
        fill: #c5c5c5;
        z-index: 10;
        outline: none;
        opacity: 0;
        transition: opacity 0.3s ease 0s;
        @media (max-width: $pc) {
            top: 20px;
            right: 20px;
        }
        @media (max-width: $mobile) {
            top: 16px;
            right: 16px;
            width: 16px;
            height: 16px;
        }
    }
    .blue-button {
        width: 100% !important;
        transition: all 0.3s ease 0s;
        text-align: center;
        min-height: 48px;
        .all-link {
            color: #eaeaea;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
        }
    }

    /* ========================================= */

    &-card {
        .popup {
            &__content {
                padding: 0 16px;
                transform: translateY(100px);
                border-right: 8px;
                box-shadow: 0 4px 10px 0 rgba(85, 85, 85, 0.1);
                &_block {
                    padding: 40px 0 16px;
                }
            }
        }
        .table {
            &_column {
                &:first-child {
                    .label {
                        @media (max-width: $mobile) {
                            color: #5389e1;
                            font-weight: 500;
                        }
                    }
                }
            }
            &__row {
                @media (max-width: $mobile) {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                &.rejected,
                &.completed,
                &.pending {
                    .table_column {
                        @media (max-width: $mobile) {
                            &:first-child span:last-child::before {
                                display: inline-flex;
                                content: "";
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                margin-right: 8px;
                                transition: all 0.5s ease 0s;
                            }
                        }
                    }
                }
                &.completed {
                    .table_column {
                        @media (max-width: $mobile) {
                            &:first-child span:last-child:before {
                                background: #13d60e;
                            }
                        }
                    }
                }
                &.rejected {
                    .table_column {
                        @media (max-width: $mobile) {
                            &:first-child span:last-child:before {
                                background: #ff0000;
                            }
                        }
                    }
                }
                &.pending {
                    .table_column {
                        @media (max-width: $mobile) {
                            &:first-child span:last-child:before {
                                background: #e9c058;
                            }
                        }
                    }
                }
            }
        }
    }
    &-graph {
        @media (max-width: $mobile) {
            .popup {
                &__content_block {
                    padding-bottom: 5px;
                }
                &__main {
                    gap: 0;
                }
            }
        }
        &__graph {
            @media (min-width: $mobile) {
                padding: 4px 18px 0 38px;
            }
            padding: 0 0 0 42px;
        }
        .graph {
            .graph {
                &__main {
                    @media (max-width: $mobile) {
                        margin: 0 -20px 0 0;
                    }
                    @media (max-width: 479.98px) {
                        margin: 0 -20px 0 32px;
                    }
                }
                &__list {
                    padding: 0;
                    margin: 0;
                    @media (max-width: $mobile) {
                        padding-right: 20px;
                    }
                }
            }
        }
        @media (max-width: $mobileSmall) {
            .graph {
                padding: 0;
            }
        }
    }
}
