.preloader {
    &-opacity {
        animation: flicker 1.2s ease 0s infinite !important;
    }
}

@keyframes flicker {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.7;
    }
}
