.propeller {
    display: flex;
    width: 150px;
    height: 150px;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    svg.preloader {
        transform-origin: bottom right;
        width: 50%;
        height: 50%;
        position: absolute;
        left: 0;
        top: 0;
    }
}
