.propeller {
    display: flex;
    width: 150px;
    height: 150px;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    svg.preloader {
        transform-origin: bottom right;
        width: 50%;
        height: 50%;
        position: absolute;
        left: 0;
        top: 0;
        animation: roll 1.2s infinite forwards linear;
    }
}
@keyframes roll {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
