.shadow {
    &_container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background: rgba(#464646, 0.15);
        z-index: 1000;
        backdrop-filter: blur(5px);
    }
}
.nav__container {
    .shadow {
        &_container {
            z-index: 90;
        }
    }
}
.shadow-enter-active,
.shadow-leave-active {
    transition: all 0.5s ease 0s, visibility 0.5s ease 0s;
    visibility: visible;
    opacity: 1;
}
.shadow-enter-from,
.shadow-leave-to {
    visibility: hidden;
    opacity: 0;
}
