.column_value {
    &-copy {
        color: var(--text-accent, #53b1fd);
        display: inline-flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        &:active {
            text-decoration: underline;
        }
    }
    &_icon {
        width: 16px;
        height: 16px;
        &-copy {
            stroke: var(--icons-accent, #53b1fd);
        }
    }
    &_text {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 105px;
    }
    &-status {
        padding: 4px 15.5px;
        border-radius: 8px;
        color: var(--icons-focus, #2E90FA);
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        min-width: 115px;
        text-align: center;
        &-paid {
            color: var(--status-succesfull, #1FB96C);
            background: var(--background-success, #E9F8F1);
        }
        &-pending {
            color: var(--status-waiting, #FFB868);
            background: var(--background-waiting, #FFF8F0);
        }
        &-error {
            color: var(--status-failed, #F1404A);
            background: var(--background-failed, #FEECED);
        }
        &-verification {
            color: var(--icons-focus, #2E90FA);
            background: var(--background-island-inner-1, rgba(83, 177, 253, 0.07));
        }
        &-wallet_needed {
            background: var(--background-island-inner-3, #f6f6f6);
            color: var(--status-death, #667085);
        }
    }
}
