.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #818c99;
    @media (max-width: $mobileSmall) {
        font-size: 14px;
    }
    b {
        font-weight: 500;
        line-height: 140%;
    }
    &-md {
        font-size: 14px;
        line-height: 130%;
        @media (max-width: $mobileSmall) {
            font-size: 12px;
        }
    }
    &-blue {
        color: #486382;
    }
    &-black {
        color: #000000;
    }
    &-ligth {
        color: #7c7c7c;
    }
    &-white {
        color: #ffffff;
    }
}
