.text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 148.1%;
    color: rgba(0, 0, 0, 0.62);
    &-lg {
        font-size: 20px;
        line-height: 181.1%;
        @media (max-width: $mobile) {
            font-size: 16px;
            line-height: 148.1%;
        }
    }
    &-md {
        font-weight: 400;
        font-size: 18px;
        line-height: 143.1%;
        @media (max-width: $mobile) {
            font-size: 16px;
            line-height: 23px;
        }
        @media (max-width: $mobileSmall) {
            font-size: 10px;
        }
    }
    &-sm {
        font-size: 14px;
        line-height: 143.1%;
        @media (max-width: $mobile) {
            font-size: 16px;
            line-height: 148.1%;
        }
    }
    &-black {
        color: #000000;
    }
    &-ligth {
        color: rgba(255, 255, 255, 0.68);
        span {
            font-weight: 500;
            font-size: 31px;
            line-height: 100%;
            color: #FFFFFF;
            @media (max-width: $mobile) {
                font-size: 20px;
                line-height: 107.6%;
            }
        }
    }
    &-white {
        color: #ffffff;
        b {
            font-weight: 500;
        }
    }
}
