.cabinet {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media (max-width: 767.98px) {
        margin-bottom: 32px;
        gap: 24px;
    }
    @media (max-width: 479.98px) {
        margin-bottom: 32px;
        gap: 16px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &__preloader {
        width: 100%;
        height: 100%;
        &-bg {
            background: var(--background-island);
            box-shadow: 0 2px 12px -5px rgba(16, 24, 40, 0.02);
            padding: 32px;
            margin: auto;
            border-radius: 40px;
            max-width: 450px;
            min-height: 432px;
            height: auto;
        }
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        flex-wrap: wrap;
        width: 100%;
    }
    &_title {
        margin-bottom: 24px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 767.98px) {
            margin-bottom: 24px;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        height: 40px;
        gap: 9px;
        border-radius: var(--surface-border-radius-radius-s-md, 12px);
        background: var(--background-island-inner-3);
        @media (max-width: 479.98px) {
            margin-top: 20px;
            gap: 0;
            width: 100%;
        }
    }
    &_button {
        color: var(--light-gray-300, #D0D5DD);
        font-family: NunitoSans, serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 145%; /* 20.3px */
        background: transparent;
        height: 100%;
        padding: 2px 12px;
        min-width: 88px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        transition: all 0.5s ease 0s;
        white-space: nowrap;
        outline: none;
        @media (max-width: 479.98px) {
            min-width: 50%;
        }
        &:hover {
            color: var(--primary-500, #2E90FA);
        }
        &.active {
            border-radius: 12px;
            background: var(--background-island);
            box-shadow: 0 2px 12px -5px rgba(16, 24, 40, 0.02);
            color: var(--primary-500, #2E90FA);
        }
    }
    &__block {
        padding: 24px;
        border-radius: 40px;
        box-shadow: 0px 2px 12px -5px rgba(16, 24, 40, 0.02);
        @media (max-width: 767.98px) {
            padding: 16px;
        }
        &-card {
            padding: 16px 24px;
            border-radius: 24px;
        }
        &-light {
            background: var(--background-island);
        }
        //&-scroll {
        //    @media (max-width: 767.98px) {
        //        padding: 0 15px 16px;
        //        overflow-y: visible;
        //        overflow-x: scroll;
        //        width: 100vw;
        //        margin: 0 -15px;
        //    }
        //}
    }
}
.referral {
    &__tabs {
        .cabinet {
            &__buttons {
                height: 48px;
            }
            &_button {
                font-size: 18px;
                font-weight: 400;
                line-height: 135%;
                border-radius: 8px;
            }
        }
    }
    &_select {
        .select {
            &_name {
                background: var(--light-theme-second-bg, #FAFAFA) !important;
            }
        }
    }
}
