.page {
    flex: 1 1 auto;
    position: relative;
    @media (min-width: $pc) {
        margin-top: 84px;
    }
    @media (max-width: $mobile) {
        margin-top: 80px;
    }
    .observer_block {
        @media (min-width: $pc) {
            position: absolute;
            top: -80px;
            left: 0;
            opacity: 0;
        }
        @media (max-width: $pc) {
            display: none;
        }
    }
    &__main {
        display: flex;
        @media (min-width: $tablet) {
            align-items: center;
        }
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
    &__content {
        flex: 1 0 40%;
        position: relative;
        margin: 10px 0 15px;
        .description {
            margin-bottom: 40px;
        }
        @media (max-width: $pc) {
            margin-top: 100px;
        }
        @media (max-width: $tablet) {
            flex: 1 0 60%;
            margin-top: 24px;
        }
    }
    &__title {
        margin-bottom: 16px;
        @media (max-width: $mobile) {
            margin-top: 32px;
            text-align: center;
            margin-bottom: 10px;
        }
    }
    &__image {
        position: relative;
        & img {
            max-width: 897px;
            @media (max-width: $pc) {
                max-width: 770px;
            }
            @media (max-width: $mobileSmall) {
                position: relative;
                left: 20vw;
                max-width: unset;
                width: 140vw;
                object-fit: cover;
            }
        }
    }
}
